dl.row {
    margin:0px;
}
dl.row > * {
    padding: 0px;
    border-bottom: 1px solid;
}
.text-center{
    text-align: center;
}
#beerinfo .image.featured img{
    height:300px;
    width:auto;
    margin: 0 auto;
}
.box.feature .image img{
    display: block;
    width: auto;
    border-radius: 8px;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}
video{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
